.flippySquare {
  width: 10vw;
  height: 10vw;
  min-width: 150px;
  min-height: 150px;
}

.playerWrapper {
  background-color: transparent;
  display: flex;
  align-items: center;
  width: 10vw;
  height: 10vw;
  min-width: 150px;
  min-height: 150px;
}

.imageWrapper {
  width: 10vw;
  height: 10vw;
  min-width: 150px;
  min-height: 150px;
}